.catalog {
  padding-bottom: 100px;
  &__header {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
  }
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    width: 222px;
    height: 52px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #d0d0d0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      color: #fff;
      background: $main-color;
      border: none;
    }
  }
  &__content {
    margin-top: 60px;
  }
  &-item {
    width: 300px;
    min-height: 440px;
    border: 2px solid #e8e8e8;
    padding: 20px 20px 26px 20px;
    &__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 200px;
    }
    &__subtitle {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
      color: black;
      text-align: center;
    }
    &__descr {
      margin-top: 16px;
      font-weight: 300;
      font-size: 14px;
      color: #0d0d0d;
      text-align: center;
    }
    &__link {
      display: block;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration-line: underline;
      color: $main-color;
    }
    hr {
      border-bottom: none;
      margin-top: 19px;
      margin-bottom: 21px;
      background: #e8e8e8;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      text-decoration-line: line-through;
      color: #555555;
    }
    &__price {
      font-weight: bold;
      font-size: 20px;
      color: #050505;
    }
  }
}
