.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    height: 50px;
    border-radius: 5px;
    background: #ffff;
    border: none;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }
  @media (max-width: 375px) {
    width: 100%;
  }
}
